<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bags Catalog</title>
        <link rel="stylesheet" href="css/style.css">
        <script src="ht tps://kit.fontawesome.com/55d0223fcd.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
        <script
        src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"
        integrity="sha256-lSjKY0/srUM9BE3dPm+c4fBo1dky2v27Gdjm2uoZaL0="
        crossorigin="anonymous"></script>
        <script src="js/menu.js" defer></script>
        <script src="js/search.js" defer></script>
</head>
<body>
        <div class="header">
                <a href="/"><h1 class="header-title">Ackbee</h1></a>
                <div class="bag-menu">
                        <div class="cart">
                                <a href="/cart">
                                        <i class="fa-solid fa-bag-shopping"></i>
                                        <span class="cart-size"><%= data.cartSize %></span>
                                        <input type="hidden" name="cart-items-count" id="cart-items-count">
                                </a>
                        </div>
                        <i class="fa-solid fa-bars" onclick="showMenu()"></i>
                </div>
                <div class="search">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <input type="text" name="search-query" id="search-query" placeholder="Search">
                </div>
        </div>
        <form action="/add_to_bag" method="post" id="add_to_bag_form">
        <div class="product-contianer">
        <div class="product-info">
                <div class="title">
                        <% productObj = data.product[0] %>
                        <p class="product-name"><%= productObj.product_name %></p>
                        <p class="product-details"><%= productObj.dimensions %> <%= productObj.per_case %></p>
                </div>
                <div class="product-img">
                        <img src="images/<%= productObj.image %>" alt="">
                </div>
                <div class="price-container">
                        <p class="product-price"><%= productObj.price %></p>
                </div>
        </div>
        <input type="hidden" name="item_to_add" id="item_to_add">
        <% if (productObj.category == "Bags") { %>
                <div class="colors">
                        <span class="brown-color"></span>
                        <span class="white-color"></span>
                        <p class="color-choice">Brown</p>
                        <input type="hidden" name="bag-color" id="bag-color">
                </div>
        <% } %>
        <div class="quan">
                <label for="">Qty*</label>
                <div class="product-quantity-selector">
                        <input type="number" name="product-quantity" id="product-quantity" placeholder="0">
                        <script>
                                $("#product-quantity").val(1);
                        </script>
                        <div class="quan-select-arrows">
                           <i class="fa-solid fa-angle-up add-quan"></i>
                           <i class="fa-solid fa-angle-down rm-quan"></i>     
                        </div>
                </div>   
        </div>
        <div class="add-item">
                <p class="add-to-bag">Add to Bag<i class="fa-solid fa-check item-added" style="display: none;"></i></p>
        </div>
        </div>
        </form>
        <div class="menu_container" style="display: none;">
                <i class="fa-solid fa-xmark close_menu" onclick="hideMenu()"></i>
                <ul class="menu_items">
                        <li><a href="/">Home</a></li> 
                        <li><a href="/bags">Bag Catalog</a></li>  
                        <li><a href="/cups">Cup Catalog</a></li>  
                </ul>
        </div>
        <div class="footer">
                <div class="footer-items">
                        <ul>
                                <li>Privacy Policy</li>
                                <li>Terms of Use</li>
                                <li>Accessibility</li>
                                <li>Ackbee.com</li>
                                <br>
                                <li><i class="fa-regular fa-copyright"></i>2022 Ackbee All Rights Reserved</li>
                        </ul>
                </div>
        </div>
        <script>

                $(".add-item").click(function () {
                        quan = $("#product-quantity").val();
                        colorChoice = $(".color-choice").text();

                        /* adding item to cart */
                        newCartCount = parseInt($(".cart-size").text());
                        $(".cart-items-count").val(newCartCount++);
                        $(".cart-size").text(newCartCount);
                        productName = $(".product-name").text();
                        item_to_add = {
                                name: productName,
                                quantity: quan,
                                color: colorChoice
                        };
                        /* add item to bag saved on server */
                        $.ajax({
                                url: '/add_to_bag',
                                type: 'post',
                                dataType: 'json',
                                data: item_to_add,
                                success: function(serverResponse) {
                                        console.log(serverResponse);
                                }
                                /* check for added the same this more than once */
                        });

                        topFunction(); /* go back to top */
                        $(".item-added").css("display", "inline");
                });

                $(".add-quan").click(function() {
                       quan = $("#product-quantity").val();
                       $("#product-quantity").val(++quan);
                });

                $(".rm-quan").click(function() {
                        quan = $("#product-quantity").val();
                        if (quan != 1) {
                                $("#product-quantity").val(--quan);
                        }
                });

                $(".brown-color").click(function () {
                        $(".color-choice").text("Brown");
                        $(".bag-color").val("Brown");
                });

                $(".white-color").click(function () {
                        $(".color-choice").text("White");
                        $(".bag-color").val("White");
                });


                function topFunction() {
                        window.scrollTo({top: 0, behavior: 'smooth'});
                }

        </script>
</body>
</html>